// Placeholder to allow overriding predefined variables smoothly.

/* Doesn't work for some reason
$on-large:    1200px !default;
$base-font-size:   18px !default;
*/

$background-color: WhiteSmoke;

$base-font-family: "Raleway",-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;