// Placeholder to allow overriding predefined variables smoothly.

$content-width : 1200px;
$base-font-weight: 300;

$background-color: WhiteSmoke;

//$top-menu-colour: Orange;
//$top-menu-colour-highlight: DarkOrange;

$top-menu-colour: White;
$top-menu-colour-highlight: White;

$banner-background: Orange;
$banner-background-highlight: DarkOrange;

//$code-background-color : black ! important;
